 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <test name="ToolsQA" >
        <classes>
            <class name="abTest.ABTest" />
            <class name="addRemoveElementTest.AddRemoveElementTest" />
            <class name="basicAutoTest.BasicAuthTest" />
            <class name="challengingDomTest.ChallengingDomTest" />
            <class name="finfBrokenImagesTest.BrokenImagesTest" />
            <class name="checkBoxesTest.CheckBoxesTest" />
            <class name="contextMenuTest.ContextMenuTest" />
            <class name="digestAuthenticationTest.DigestAuthenticationTest" />
            <class name="disappearingElementsTest.DisappearingElementsTest" />
            <class name="dragAndDropTest.DragAndDropTest" />
            <class name="dragAndDropTest.DragAndDropTest" />
        </classes>
    </test>
</suite>